<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top bg-white">
  <div class="container-fluid px-5 bg-white padd color-bb">
    <a href="/"><img src="/worko.jpeg" width="70px" height="50px"    /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-white" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto d-md-flex"> <!-- Use d-md-flex to ensure it's displayed only on medium and larger screens -->
        <a class="nav-link air" href="/worko/user/new">Add WorkoUser</a>
        <div class="d-md-flex padd-b">
        <% if(!currUser) { %>
          <a class="btn bgcolo ms-2" aria-current="page" href="/signup"><b>SignUp</b></a>
          <a class="btn btn-outline-secondary colo ms-2" href="/login"><b>Login</b></a>
        <% } %>
        <% if(currUser) { %>
          <a class="btn btn-outline-secondary colo ms-2" href="/logout">Logout</a>
        <% } %>
        </div>
      </div>
    </div>
  </div>
</nav>
